
<!DOCTYPE html>
<html>
<head>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>
<body>
<h3 class="text-center"><a href="{% url "eco:home" %}">Home</a> </h3>
<h3>My Google Maps Demo</h3>
<!--The div element for the map -->
<div id="map"></div>
<script>
    // Initialize and add the map
    function initMap() {
        // The map, centered at Kathmandu
        var map = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 8, center: {lat: 27.7172, lng: 85.3240}
            });
        // The marker, positioned at Broadway infosys
        var marker = new google.maps.Marker({position: {lat: 27.6854697, lng: 85.3426193}, map: map});
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFHISptmZqW6ZYe2ziwRSIa8iHW3rv57c&callback=initMap">
</script>
</body>
</html>